<div class="">
  {% with id=widget.attrs.id %}
  <ul{% if id %} id="{{ id }}"{% endif %} class="{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}">
  {% for group, options, index in widget.optgroups %}

      {% comment %}Semantic has no option groups!
          {% if group %}<li>{{ group }}<ul{% if id %} id="{{ id }}_{{ index }}"{% endif %}>{% endif %}
      {% endcomment %}

      {% for option in options %}
          <li class="">
              {% include option.template_name with widget=option %}
          </li>
      {% endfor %}
      
      
      {% comment %}Semantic has no option groups!
          {% if group %}</ul></li>{% endif %}
      {% endcomment %}
      
  {% endfor %}
  </ul>
  {% endwith %}
</div>

